<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jmei</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>actionServlet</servlet-name>
  	<servlet-class>com.jmei.controller.ActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>actionServlet</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Verify</servlet-name>
    <servlet-class>com.jmei.controller.verify.Verify</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Verify</servlet-name>
    <url-pattern>/Verify</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Verify1</servlet-name>
    <servlet-class>com.jmei.controller.verify.Verify1</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Verify1</servlet-name>
    <url-pattern>/Verify1</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>Verify2</servlet-name>
    <servlet-class>com.jmei.controller.verify.Verify2</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Verify2</servlet-name>
    <url-pattern>/Verify2</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>Verify3</servlet-name>
    <servlet-class>com.jmei.controller.verify.Verify3</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Verify3</servlet-name>
    <url-pattern>/Verify3</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>Verify4</servlet-name>
    <servlet-class>com.jmei.controller.verify.Verify4</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Verify4</servlet-name>
    <url-pattern>/Verify4</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>Verify5</servlet-name>
    <servlet-class>com.jmei.controller.verify.Verify5</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Verify5</servlet-name>
    <url-pattern>/Verify5</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>Verify6</servlet-name>
    <servlet-class>com.jmei.controller.verify.Verify6</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Verify6</servlet-name>
    <url-pattern>/Verify6</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>VerifyCode</servlet-name>
    <servlet-class>com.jmei.controller.verify.VerifyCode</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>VerifyCode</servlet-name>
    <url-pattern>/VerifyCode</url-pattern>
   </servlet-mapping>
</web-app>