html {
    background: #fff none repeat scroll 0 0;
    color: #000;
}
blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: 400;
}
ol, ul {
    list-style: outside none none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}
q::after, q::before {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
legend {
    color: #000;
}
.clearfix {
}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
body {
    font: 12px/1.5 arial,"Hiragino Sans GB","Î¢ÈíÑÅºÚ",sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    vertical-align: bottom;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.hide {
    display: none;
}
.cart {
    background: white none repeat scroll 0% 0%;
    width: 1903px;
    height: 99.5px;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
}
.cart_top {
    position: relative;
    height: 32px;
    line-height: 32px;
    color: #999999;
    width: 960px;
    margin: 0 auto;
}
.cart_top .user_box {
    position: absolute;
    right: 0;
    top: 0;
}
a {
    color: #ed145b;
    text-decoration: none;
}
.cart_top .user_box .tips {
    font-style: normal;
    color: #dddddd;
    padding: 0 5px;
}
.cart_header_box {
    border-bottom: 2px solid #e5e5e5;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    padding-bottom: 15px;
}
.cart_header {
    width: 960px;
    margin: 0 auto;
}
.cart_header .logo_box {
    float: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
fieldset, img {
    border: 0;
}
.cart_header .order_path_1 {
    background: url(../images/cart/order_path.png) no-repeat;
    background-position: -2px -2px;
}
.cart_header .order_path {
    float: right;
    width: 377px;
    height: 48px;
}
ÔªËØ {
    width: auto;
}
#container {
    background: #fff;
}
#container {
    width: 995px;
    min-height: 450px;
    margin: auto;
    margin-top: 0;
    padding: 15px 0;
    background: #fff;
}
#group_show {
    width: 960px;
    margin: 0 auto;
}
.content_header {
    margin-top: 5px;
}
.clearfix {
    *zoom: 1;
}

.cart_timer_wrapper {
    float: left;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
}
.cart_timer_wrapper .icon_small {
    vertical-align: -5px;
    background: url(../images/cart/icons.png) no-repeat;
    background-position: -8px -5px;
}
.icon_small {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-style: normal;
}
.cart_timer_text, .cart_timer_tip {
    color: #ed145b;
}
.top_banner {
    float: right;
    height: 30px;
}
.top_banner ul, .top_banner li {
    list-style: none;
}
.top_banner li {
    float: left;
    margin-left: 10px;
    display: inline;
}
.top_banner ul, .top_banner li {
    list-style: none;
}
.top_banner span {
    float: left;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    overflow: hidden;
    cursor: default;
}
.top_banner .icon_zhenpin {
    background-position: 0 -107px;
}
.top_banner .header_icon {
    float: left;
    width: 26px;
    height: 25px;
    margin-right: 5px;
    background: url(../images/cart/header_sprites1.png) no-repeat;
}
.top_banner .icon_tuihuo {
    background-position: 0 -142px;
}
.top_banner .icon_baoyou {
    background-position: 0 -177px;
}
.common_shippment {
    padding-top: 5px;
    color: #fa8801;
    clear: both;
}
.common_shippment i {
    width: 35px;
    padding-left: 5px;
    background: url(../images/cart/icons.png) no-repeat;
    background-position: -2px -86px;
}
.icon_small {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-style: normal;
}
.cart_group_item {
    width: 100%;
    margin: 10px 0 0;
    font-size: 12px;
    border: 1px solid #eee;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.cart_group_item th.cart_overview {
    width: 56%;
}
.cart_group_item th {
    height: 34px;
    padding: 0;
    text-align: center;
    font-weight: 400;
    border-bottom: 1px solid #eee;
    background: #fafafa;
    color: #000;
}
caption, th {
    text-align: left;
}
.cart_group_header {
    height: 34px;
    line-height: 34px;
    text-align: left;
    border-left: 5px solid #ed145b;
}
}
.cart_group_header .cart_group_selector {
    margin: 0 0 0 5px;
}
input, textarea, select {
    *font-size: 100%;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.cart_group_header h2 {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 5px 0 2px;
    padding: 0;
}
.cart_item_desc .cart_item_selector {
    float: left;
    margin: 40px 0 0 8px;
}
input, textarea, select {
    *font-size: 100%;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.cart_item_desc .cart_item_desc_wrapper {
    margin: 0 0 0 30px;
    padding: 20px 0 0;
    padding-left: 11px;
}
.cart_item_desc .cart_item_pic {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    margin: 0 10px 20px 0;
    overflow: hidden;
}
.cart_item_desc .cart_item_pic img {
    width: 60px;
    height: 60px;
}
fieldset, img {
    border: 0;
}
.sold_out_pic {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/cart/sold_out_50.png) center center no-repeat;
}
.cart_item_desc .cart_item_link {
    display: inline-block;
    max-width: 250px;
    _width: 250px;
    height: 18px;
    line-height: 16px;
    color: #000;
}
.text_ellipsis, .cart_item_desc .cart_item_link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cart_item_desc .sku_info {
    height: 22px;
    line-height: 22px;
    color: #999;
}
.cart_item_desc .sale_info {
    margin-left: 70px;
}
.tips_pop_full {
    float: left;
    margin-right: 10px;
    position: relative;
    height: 25px;
}
.cart_item_desc .sale_tag.gift {
    background: #0abede;
}
.cart_item_desc .sale_tag {
    display: inline-block;
    height: 16px;
    margin: 2px 0 15px;
    padding: 0 8px 1px;
    color: #fff;
    border-radius: 1em;
    text-decoration: none;
}
.cart_item_desc .sale_tag .icon_small {
    width: 8px;
    height: 8px;
    background: url(../images/cart/icons.png) no-repeat -2px -108px;
}
.cart_item_desc .sale_tag.reduce, .cart_item_desc .sale_tag.virtual_product, .cart_item_desc .sale_tag.reduce_no_cap {
    background: #ff6f0f;
}
.cart_item_desc .sale_tag {
    display: inline-block;
    height: 16px;
    margin: 2px 0 15px;
    padding: 0 8px 1px;
    color: #fff;
    border-radius: 1em;
    text-decoration: none;
}
.cart_item_desc .sale_tag .icon_small {
    width: 8px;
    height: 8px;
    background: url(../images/cart/icons.png) no-repeat -2px -108px;
}
.icon_small {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-style: normal;
}
.item_quantity_editer .item_quantity {
    width: 30px;
    height: 20px;
    border: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #e0e0e0;
}
.item_quantity_editer .decrease_one, .item_quantity_editer .increase_one {
    font-size: 16px;
    color: #666;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background: url(../images/cart/cart_num_editer_bg.jpg) repeat-x 0 0 transparent;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.cart_item_total {
    padding: 0;
}
.cart_item_price, .cart_item_num, .cart_item_total, .cart_item_option {
    height: 60px;
    padding: 20px;
    text-align: center;
}
.item_total_price {
    margin-bottom: 3px;
    color: #ed145b;
    font-weight: 700;
    font-family: Arial,Helvetica;
}
.cart_item_price, .cart_item_num, .cart_item_total, .cart_item_option {
    height: 60px;
    padding: 20px;
    text-align: center;
}
.delete_item {
    background: url(../images/cart/icons.png) no-repeat;
    background-position: -7px -27px;
    cursor: pointer;
}
.icon_small {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-style: normal;
}
.cart_group_item {
    font-size: 12px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.cart_group_item tfoot tr {
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #eee;
    color: #999;
    text-align: right;
    background: #fafafa;
}
.group_total_price {
    margin-right: 10px;
    color: #ed145b;
    font-weight: 700;
    font-size: 14px;
    font-family: "Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;
}
.common_handler {
    width: 958px;
    height: 48px;
    margin: 10px 0;
    line-height: 48px;
    border: 1px solid #eee;
    background: #fafafa;
}
.right_handler {
    float: right;
    height: 100%;
}
.total_amount, .ship_price, .total_price {
    color: #ed145b;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;
}
.total_price {
    font-size: 18px;
}
.total_amount, .ship_price, .total_price {
    color: #ed145b;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;
}
#go_to_order {
    width: 145px;
    height: 100%;
    margin: 0 0 0 10px;
    font-size: 18px;
    font-family: "Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;
}
.btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #ed145b;
    background: linear-gradient(top,#fa417d,#f0145c);
    background: -moz-linear-gradient(top,#fa417d,#f0145c);
    background: -webkit-linear-gradient(top,#fa417d,#f0145c);
    background: -o-linear-gradient(top,#fa417d,#f0145c);
    background: -ms-linear-gradient(top,#fa417d,#f0145c);
}
.cart_all_selector_wrapper {
    display: inline-block;
    margin: 0 0 0 15px;
}
.all_selector {
    _margin: 12px 0;
    _vertical-align: middle;
}
input, textarea, select {
    *font-size: 100%;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.go_back_shopping {
    margin-left: 20px;
}
.go_back_shopping, .clear_cart_all, .clear_sold_out {
    margin: 0 2px;
    color: #333;
}
.seperate_line {
    color: #999;
}
.common_handler {
    line-height: 48px;
}
.go_back_shopping, .clear_cart_all, .clear_sold_out {
    margin: 0 2px;
    color: #333;
}
.clear_cart_all {
  margin-right: 397px;
}
.cart_out_of_time .cart_timer_out {
    display: inline;
}
.content_footer .cart_timer_wrapper {
    float: right;
}
.htt {
position: relative;
    margin-top: 20px;
    width: 962px;
    height: 842px;
    border:1px solid white;
    margin-left:auto;
    margin-right:auto;
     margin-left:auto;
    margin-right:auto;
}