/*阳桂东2016-04-30 23:04 css/foot.css*/
/*尾部全局样式*/
.footer {
    overflow: hidden;
    border-top: 1px solid #ccc;
    background: #fff;
    position: relative;
    bottom: -1px;
    height: 738px;
}
body {
    font: 12px/1.5 arial,'Hiragino Sans GB','\5FAE\8F6F\96C5\9ED1',sans-serif;
}
.footer {
	overflow: hidden;
	border-top: 1px solid #ccc;
	background: #fff;
	position: relative;
	bottom: -1px;
	height: 738px
}

.footer_con {
	width: 1090px;
	margin: 0 auto;
	overflow: hidden
}

.footer_links {
	height: 165px;
	padding-top: 30px
}

.footer_links ul {
	width: 156px;
	height: 143px;
	padding-left: 16px;
	float: left;
	zoom: 1;
	overflow: hidden
}

.footer_links ul li {
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden
}

.footer_links ul li a {
	height: 22px;
	line-height: 22px;
	color: #666;
	display: block;
	transition: transform .4s linear;
	-moz-transition: transform .4s linear;
	-webkit-transition: transform .4s linear;
	-o-transition: transform .4s linear;
	-ms-transition: transform .4s linear
}

.footer_links ul li a:hover {
	color: #ea1d5d;
	text-decoration: none;
	transform: translateX(10px);
	-moz-transform: translateX(10px);
	-webkit-transform: translateX(10px);
	-o-transform: translateX(10px);
	-ms-transform: translateX(10px)
}

.footer_links .links {
	color: #666;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 10px;
	overflow: hidden
}

.footer_links .linksa {
	width: 160px
}

.footer_links .linkse {
	width: 118px
}

.footer_links .linksf,.footer_links .linksg {
	width: 83px;
	text-align: center;
	padding-left: 36px;
	margin-top: 0;
	height: 146px;
	color: #666
}

.footer_links .linksf .links,.footer_links .linksg .links {
	background: 0 0;
	padding: 0
}

.footer_links .linksf .link_bottom_pic,.footer_links .linksg .link_bottom_pic
	{
	width: 78px;
	height: 78px;
	display: inline-block;
	overflow: hidden;
	margin-left: 3px
}

.footer_links .linksg .link_bottom_pic {
	background-image:
		url(../images/foot/jumei_weixin_footer.png);
	background-position: 0 0
}

.footer_links .linksf .links,.footer_links .linksg .links {
	padding-left: 0;
	margin-left: 0
}

.footer_links .links_er_box {
	border-left: 1px solid #fff;
	display: inline-block;
	margin-left: 16px
}

.footer_links .footer_zcemail {
	color: #666;
	float: left;
	font-family: "瀹嬩綋"
}

.footer_links .footer_zcemail_img {
	float: left;
	margin-top: -2px
}

.footer_credit {
	padding: 30px 0 15px;
	border-bottom: 1px solid #ccc
}

.footer_credit .foot_link .corn {
	width: 63px;
	height: 63px;
	display: block;
	overflow: hidden;
	margin: 0 auto 20px;
	cursor: pointer;
	background: url(../images/foot/footer_new.png)
		no-repeat
}

.footer_top .footer_credit .foot_link .first {
	background-image:
		url(../images/foot/footer_0901.jpg)
}

.footer_credit .foot_link {
	width: 170px;
	height: 140px;
	color: #999;
	font-size: 14px;
	display: block;
	float: left;
	line-height: 18px;
	overflow: hidden;
	text-align: center
}

.footer_credit a.foot_link:hover {
	text-decoration: none;
	color: #666
}

.footer_credit a.foot_link .con {
	color: #333;
	font-size: 16px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	display: block;
	cursor: pointer
}

.footer_credit .mostmall {
	width: 130px
}

.footer_credit .back {
	width: 160px
}

.footer_credit .depot {
	width: 168px
}

.footer_credit .packaging {
	width: 158px
}

.footer_credit .confide {
	width: 134px
}

.footer_credit .quality .corn {
	background-position: -64px 0
}

.footer_credit .back .corn {
	background-position: -128px 0
}

.footer_credit .depot .corn {
	background-position: -190px 0
}

.footer_credit .consignment .corn {
	background-position: -253px 0
}

.footer_credit .packaging .corn {
	background-position: -316px 0
}

.footer_credit .confide .corn {
	background-position: -379px 0
}

.footer_credit .commend .corn {
	background-position: -181px -392px
}

.footer_credit .star .corn {
	background-position: -181px -448px
}

.footer_links .linksf .link_bottom_pic {
	background:
		url(../images/foot/header_corn_new_v2.png) 0
		-423px no-repeat
}

.footer_center {
	height: 48px;
	line-height: 48px;
	overflow: hidden;
	font-size: 12px;
	color: #fff;
	background:
		url(../images/foot/footer_btm02_bg.jpg)
		center top repeat-x
}

.footer_center a {
	color: #fff;
	padding-right: 12px;
	height: 48px;
	display: inline-block
}

.footer_dy {
	height: 95px;
	background: url(../images/foot/footer_dy.jpg)
		center top no-repeat
}

.footer_dy .play_box {
	width: 360px;
	height: 95px;
	margin: 0 auto
}

.footer_dy .play {
	display: none;
	height: 95px;
	background: url(../images/foot/footer_play.png)
		center center no-repeat
}

.footer_copyright {
	background:
		url(../images/foot/newindex_footer_bg.png)
		center top repeat-x #404040;
	line-height: 20px;
	padding-bottom: 80px;
	color: #ccc
}

.footer_center .footer_link a {
	color: #fff;
	padding: 0 12px;
	height: 36px;
	display: inline-block
}

.footer_copyright .footer_copy_con {
	padding: 14px 0 18px;
	line-height: 23px
}

.footer_copyright a {
	color: #ccc
}

.footer_copyright .footer_copy_logo {
	width: 126px;
	height: 50px;
	overflow: hidden;
	display: inline-block;
	margin-right: 8px;
	background:
		url(../images/foot/footer_btm_icon.png)
		no-repeat
}

.footer_copyright .logo01,.footer_copyright .logo03,.footer_copyright .logo04
	{
	cursor: default
}

.footer_copyright .logo02 {
	background-position: -126px 0
}

.footer_copyright .logo03 {
	background-position: -252px 0
}

.footer_copyright .logo04 {
	background-position: -378px 0
}

.footer_copyright .logo05 {
	background-position: -504px 0
}

.footer_video {
	height: 594px;
	background: url(../images/foot/diwen.jpg) #000;
	display: none
}

.footer_video .video_box {
	margin: 0 auto;
	padding-top: 45px;
	width: 1093px;
	height: 548px;
	background:
		url(../images/foot/footer_video_bg.jpg)
		no-repeat #000;
	position: relative
}

.footer_video .video {
	width: 962px;
	height: 506px;
	margin: 0 auto
}

.footer_video .video_close {
	position: absolute;
	display: block;
	width: 51px;
	height: 50px;
	right: 16px;
	top: 45px;
	cursor: pointer;
	background: url(../images/foot/video_close.jpg)
		no-repeat
}