a{
    color: #ed145b;
    text-decoration: none;
}
input{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
#header{
	background: #fff none repeat scroll 0 0;
    min-width: 960px;
}
#content{
	line-height: 1.5;
}
#login-text{
		height: 418px;
    	margin-bottom: 50px;
}

.loginWrap{
	line-height: 1.5;
    margin: 100px auto;
    width: 965px;
}
.loginWrap{
	margin-top: 50px;
}

.loginBord{
    background: rgba(255, 255, 255, 0.85) none repeat scroll 0 0;
    border: 1px solid #ededed;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.075);
    color: #333;
    min-height: 400px;
    padding: 0 23px;
    position: absolute;
    right: 0;
    top: -60px;
    width: 310px;
}
.loginBord{
    top: -10px;
}
.loginBord{
    border: 0 none;
}
#logo{
	height: 85px;
}
#logo{
	margin: 0 auto;
    width: 960px;
}
#logo .header_login_box{
    display: inline-block;
    float: right;
    padding-top: 35px;
}
#logo a.top_link{
    float: right;
    height: 31px;
    margin-right: 24px;
    overflow: hidden;
    width: 110px;
}
#logo a.top_link{
     background: transparent url("../images/login/header_corn_new_v2.png") no-repeat scroll center top;
}
#logo a.lighting{
    background-position: 0 -64px;
}
#logo a.gild{
    background-image: url("../images/login/gild.png");
    width: 170px;
}
#logo a.credit{
    background-position: 0 0;
}
.loginBox{
    position: relative;
    width: 960px;
}
.loginImage{
    background: rgba(0, 0, 0, 0) url("../images/login/loginPic.jpg") no-repeat scroll 0 0;
    height: 360px;
    position: absolute;
    width: 960px;
}
.loginTit{
    line-height: 60px;
    margin-bottom: 15px;
    color: #333;
}
.loginTit .signup{
    color: #969696;
    float: right;
}
.loginTit h1{
    color: #e31256;
    font-size: 20px;
    font-weight: 400;
}
#content h1{
    font-family: "Microsoft YaHei","微软雅黑","黑体";
}
strong{
    font-weight: 800;
}
.radio_wrapper{
    height: 30px;
}
.radio_wrapper span{
    padding-right: 30px;
}
#content input{
    vertical-align: middle;
}
.loginWrap .textbox_ui {
    margin-bottom: 26px;
}
.textbox_ui{
    height: 44px;
}
.user input {
    background-position: 5px 0;
}
.textbox_ui input {
    background-color: #fff;
    border: 1px solid #cfcfcf;
    box-shadow: none;
    font-size: 14px;
    height: auto;
    line-height: 1.5;
    outline: 0 none;
    padding: 10px 8px;
    vertical-align: middle;
    width: 284px;
}
.user input,.textbox_ui .invalid i{
    background-image: url("../images/login/sign.png?2");
    background-repeat: no-repeat;
}
.user input{
    padding-left: 38px;
    width: 262px;
}
.focus_text {
    display: none;
}
.textbox_ui .invalid, .texbox_ui .focus_text{
    display: none;
    line-height: 1.5;
    position: absolute;
}
.textbox_ui .invalid,.textbox_ui .focus_text {
    color: #999;
    left: 0;
    margin-top: 4px;
    top: 100%;
    white-space: nowrap;
    word-break: keep-all;
}
.textbox_ui .invalid {
    display: none;
    height: 1.5em;
    left: 20px;
}
.loginBord .invalid{
    white-space: normal;
    width: 290px;
    word-break: normal;
}
.textbox_ui .invalid i {
    height: 20px;
    margin-top: -10px;
    width: 20px;
}
.textbox_ui .invalid i {
    background-position: 0 -100px;
    left: -20px;
    position: absolute;
    top: 50%;
}
.dynamic_pass_wrap {
    height: 44px;
    margin-bottom: 28px;
    margin-top: 10px;
}
.sign .line {
    clear: both;
    color: #333;
    font-size: 12px;
    margin: 30px 0;
}

#content .dynamic_pass_wrap {
    margin-top: 10px;
}

#home{
	 background: rgba(0, 0, 0, 0) url("../images/login/logo_new_v1.jpg") no-repeat scroll left top;
	 float: left;
     font-size: 0;
     height: 85px;
     line-height: 0;
     overflow: hidden;
     width: 360px;
}
#foot{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-top: medium none;
    padding-top: 5px;
    bottom: -1px;
    overflow: hidden;
    position: relative;
}
#foot #footer_copyright{
	background: #fff none repeat scroll 0 0;
    color: #000;
    text-align: center;
    line-height: 20px;
    padding-bottom: 80px;
}
.footer-con{
	margin: 0 auto;
    overflow: hidden;
    width: 1090px;
}