a{
    color: #ed145b;
    text-decoration: none;
}
input{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
#header{
	background: #fff none repeat scroll 0 0;
    min-width: 960px;
}
#content{
	line-height: 1.5;
}
#login-text{
		height: 418px;
}

.loginWrap{
	line-height: 1.5;
    margin: 100px auto;
    width: 965px;
}
.loginWrap{
	margin-top: 50px;
}

.loginBord{
    background: rgba(255, 255, 255, 0.85) none repeat scroll 0 0;
    border: 1px solid #ededed;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.075);
    color: #333;
    min-height: 400px;
    padding: 0 23px;
    position: absolute;
    right: 0;
    top: -60px;
    width: 310px;
}
.loginBord{
    top: -10px;
}
.loginBord{
    border: 0 none;
}
#logo{
	height: 85px;
}
#logo{
	margin: 0 auto;
    width: 960px;
}
#logo .header_login_box{
    display: inline-block;
    float: right;
    padding-top: 35px;
}
#logo a.top_link{
    float: right;
    height: 31px;
    margin-right: 24px;
    overflow: hidden;
    width: 110px;
}
#logo a.top_link{
     background: transparent url("../images/login/header_corn_new_v2.png") no-repeat scroll center top;
}
#logo a.lighting{
    background-position: 0 -64px;
}
#logo a.gild{
    background-image: url("../images/login/gild.png");
    width: 170px;
}
#logo a.credit{
    background-position: 0 0;
}
.loginBox{
    position: relative;
    width: 960px;
}
.loginImage{
    background: rgba(0, 0, 0, 0) url("../images/login/loginPic.jpg") no-repeat scroll 0 0;
    height: 360px;
    position: absolute;
    width: 960px;
}
.loginTit{
    line-height: 60px;
    margin-bottom: 15px;
    color: #333;
}
.loginTit .signup{
    color: #969696;
    float: right;
}
.loginTit h1{
    color: #e31256;
    font-size: 20px;
    font-weight: 400;
}
#content h1{
    font-family: "Microsoft YaHei","微软雅黑","黑体";
}
strong{
    font-weight: 800;
}
.radio_wrapper{
    height: 30px;
}
.radio_wrapper span{
    padding-right: 30px;
}
#content input{
    vertical-align: middle;
}
.loginWrap .textbox_ui {
    margin-bottom: 16px;
}
.textbox_ui{
    height: 44px;
}
.user input {
    background-position: 5px 0;
}
.textbox_ui input {
    background-color: #fff;
    border: 1px solid #cfcfcf;
    box-shadow: none;
    font-size: 14px;
    height: auto;
    line-height: 1.5;
    outline: 0 none;
    padding: 10px 8px;
    vertical-align: middle;
    width: 284px;
}
 .pass input, .user input, .textbox_ui .invalid i{
    background-image: url("../images/login/sign.png?2");
    background-repeat: no-repeat;
}
 .pass input, .user input{
    padding-left: 38px;
    width: 262px;
}
.focus_text {
    display: none;
}
.textbox_ui .invalid, .texbox_ui .focus_text{
    display: none;
    line-height: 1.5;
    position: absolute;
}
.textbox_ui .invalid,.textbox_ui .focus_text {
    color: #999;
    left: 0;
    margin-top: 4px;
    top: 100%;
    white-space: nowrap;
    word-break: keep-all;
}
.textbox_ui .invalid {
    display: none;
    height: 1.5em;
    left: 20px;
}
.loginBord .invalid{
    white-space: normal;
    width: 290px;
    word-break: normal;
}
.textbox_ui .invalid i {
    height: 20px;
    margin-top: -10px;
    width: 20px;
}
.textbox_ui .invalid i {
    background-position: 0 -100px;
    left: -20px;
    position: absolute;
    top: 50%;
}
.dynamic_pass {
    display: inline-block;
    margin-top: 0;
}
.dynamic_pass_wrap {
    height: 44px;
    margin-bottom: 28px;
    margin-top: 10px;
}
.line .textbox_ui {
    display: inline-block;
    vertical-align: middle;
}
#content .line {
    clear: both;
    color: #333;
    font-size: 12px;
    margin: 30px 0;
}
#content .textbox_ui {
    position: relative;
}

.textbox_ui {
    display: inline-block;
    margin-bottom: 0;
}
.dynamic_pass input {
    display: inline-block;
    width: 88px;
}
.pass input {
    background-position: 5px -50px;
}
#content .dynamic_pass_wrap {
    margin-top: 10px;
}
.phonecode {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fcfcfc, #f2f2f2) repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 41px;
    line-height: 41px;
    margin-left: 10px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
    width: 140px;
}
#content form p {
    margin: 10px 0;
}
input[type="submit"] {
    background: #f8296d none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
}
input[type="submit"] {
    overflow: visible;
}
.loginbtn {
    margin-bottom: 10px;
    outline: 0 none;
}
.iconAccout div {
    padding-bottom: 10px;
    padding-top: 5px;
}
.iconAccout p {
    margin-bottom: 15px;
    overflow: hidden;
}
.iconAccout .a1 {
    background-position: 0 0;
}
.loginBord p a {
    color: inherit;
}
.iconAccout a {
    background-image: url("../images/login/icon_light.jpg");
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    height: 43px;
    margin-right: 12px;
    text-indent: -9999px;
    width: 43px;
}
.iconAccout .a2 {
    background-position: -57px 0;
}
.iconAccout .a3 {
    background-position: -114px 0;
}
.iconAccout .a4 {
    background-position: -169px 0;
}
.iconAccout .a5 {
    background-position: -224px 0;
}
.iconAccout span {
    cursor: pointer;
    float: left;
    left: -7px;
    line-height: 30px;
    margin-top: 5px;
    position: relative;
}

.iconAccout span i {
    background-position: -274px -23px;
    display: inline-block;
    height: 17px;
    position: absolute;
    right: -21px;
    top: 7px;
    transition: all 0.3s ease-in 0s;
    width: 18px;
}
.iconAccout span i {
    background-image: url("../images/login/icon.jpg");
    background-repeat: no-repeat;
}
.iconAccout p {
    margin-bottom: 15px;
    overflow: hidden;
}
#content .shadow_l {
    left: -9px;
}
#content .shadow_l, #content .shadow_r {
    background: rgba(0, 0, 0, 0) url("../images/login/shadow.png?1") no-repeat scroll center center;
    height: 100%;
    position: absolute;
    top: 0;
    width: 8px;
}
#content .shadow_r {
    background-color: #fff;
    right: -9px;
    transform: scaleX(-1);
}
#content .shadow_r {
    background-color: transparent;
    filter: none;
}

#home{
	 background: rgba(0, 0, 0, 0) url("../images/login/logo_new_v1.jpg") no-repeat scroll left top;
	 float: left;
     font-size: 0;
     height: 85px;
     line-height: 0;
     overflow: hidden;
     width: 360px;
}
.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}
#foot{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-top: medium none;
    padding-top: 5px;
    bottom: -1px;
    overflow: hidden;
    position: relative;
}
#foot #footer_copyright{
	background: #fff none repeat scroll 0 0;
    color: #000;
    text-align: center;
    line-height: 20px;
    padding-bottom: 80px;
}
.footer-con{
	margin: 0 auto;
    overflow: hidden;
    width: 1090px;
}
#footer_copyright .footer_copy_con {
    padding: 10px 0;
}
#footer_copyright .footer_copy_con {
    line-height: 23px;
    padding: 14px 0 18px;
}
#footer_copyright a {
    color: #000;
}
#footer_copyright .footer_copy_logo {
    background: rgba(0, 0, 0, 0) url("../images/login/footer_btm_icon.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 50px;
    margin-right: 8px;
    overflow: hidden;
    width: 126px;
}
#footer_copyright .logo01, #footer_copyright .logo03, #footer_copyright .logo04 {
    cursor: default;
}
#footer_copyright .logo02 {
    background-position: -126px 0;
}
#footer_copyright .logo03 {
    background-position: -252px 0;
}
#footer_copyright .logo04 {
    background-position: -378px 0;
}
#footer_copyright .logo05 {
    background-position: -504px 0;
}
.footer_copy_logo {
    border-bottom: 1px solid #d7d7d7;
}
.textBtnsWrap {
    border: 1px solid #cfcfcf;
    height: 40px;
    /* overflow: hidden; */
}
.t_v_txt_btn {
	float:left;
    background-repeat: no-repeat;
    cursor: default;
    float: left;
    height: 40px;
	width: 51.3px;
	/* border-right: 1px solid #cfcfcf; */
}
.input_big_wrap {
    clear: both;
    line-height: 42px;
    padding-top: 20px;
    position: relative;
}
.inputWrap {
    border: 1px solid #cfcfcf;
    float: left;
    height: 40px;
    width: 161px;
}
.verImg {
    background-repeat: no-repeat;
    border: 1px solid #cfcfcf;
    cursor: pointer;
    float: left;
    height: 40px;
    margin-left: 4px;
    vertical-align: middle;
    width: 80px;
}
.t_v_delBtn {
    background: rgba(0, 0, 0, 0) url("../images/login/del_btn.jpg") repeat scroll 0 0;
    float: left;
    height: 40px;
    width: 38px;
}
.t_v_input {
    background-position: 200px 0;
    background-repeat: no-repeat;
    border-right: 1px solid #cfcfcf;
    float: left;
    height: 40px;
    width: 40px;
}
.refresh_btn {
    display: block;
    float: left;
    margin-left: 4px;
	cursor: pointer;
}
.t_v_err {
    clear: both;
    line-height: 20px;
    overflow: hidden;
    padding-top: 5px;
    visibility: hidden;
}
.blok{
	display: block;
}
.non{
	display: none;
}