#searchResult{
	background: #f7f7f7;
}

#right{
	float:right;
	width: 40px;
	height: 100%;
	position: absolute;
	background: #444851;
	z-index: 2;
	top: 0;
	font-family: 'microsoft yahei',arial;
	left: 0px;
}

.w{
	width: 1000px;
}

#frist{
	padding: 3px 0 10px;
	color: #333;
	margin: 0 auto;
	height: 41px;
}

#frist .ful{
	margin-top: 19px;
	float: left;
	display: inline;	
}

#frist .ful .fli{
	margin-left: -9px;
}

#frist .ful .fli a{
	color: #000;
	font-weight: 700;
	font-family: "宋体";
}

#frist .ful .fli a:HOVER{
	color: red;
	text-decoration: none;
}

#frist .span{
	position: relative;
	top: 17px;
	left: 3px;
	font-family: "宋体";
	font-weight: 700;
	color: #333
}

#frist_search{
	
}

.bread_search_img{
	background: url(../images/cssSearchResult/right_fdj.jpg) no-repeat;
    position: relative;
	width: 16px;
	height: 16px;
	top: -14px;
	border: 0;
}

.frist_search_span{
	display:block;
	position: relative;
	left: 23px;
	top: 3px;
	color: #696767;
	font-size: 12px;
	z-index: 11;
}

.frist_search_input{
	border: 0;
	outline: 0;
	height: 17px;
	line-height: 17px;
	margin-top: -2px;
	position: relative;
	top: -15px;
	left: 20px;
}

#searchOther{
	background-color: #fff;
	margin: 0 auto;
	height: 45px;
}

#searchOther .span{
	color: #000;
	font-weight: 700;
	font-family: "宋体";
}

#searchOther .inline{
	position:relative;
	line-height: 44px;
	left: 15px;
}

#searchOther_span{
	color: #ed145a;
	font-weight: 700;
	font-family: "宋体";
}

#btep{
	border: 1px solid #efeded;
	border-top: 1px solid #edecec;
	overflow: hidden;
	margin-bottom: 22px;
	margin: 0 auto;
	background-color: #fff;
}

#buserName{
	padding: 12px 10px 2px 6px;
	border-bottom: solid 1px #f2f2f2;
	position: relative;
}

#buserName .buser_name{
	float: left;
	margin-right: 20px;
	height: 46px;
	width: 64px;
}

#buserName .buser_name span{
	color: #000;
	font-weight: 700;
	font-family: "宋体";
}

#buserName .buser_all ul li{
	list-style: none;
	margin: 0 14px 10px 0;
	width: 72px;
	float: left;
	display: inline;
	white-space: nowrap;
	overflow: hidden;
	background: 0;
	height: 22px;
}

#buserName .buser_right{
	
}

