#shoppingcartdisplay{
	overflow: hidden;
	display:none;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 9;
	width: 287px;
	height: 100%;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.4);
	right: 40px;
}

#shoppingcartdisplay .cart_title{
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #dedede;
	color: #333;
	font-size: 14px;
	font-weight: 700;
	width: 267px;
	margin: 0 auto;
}

#shoppingcartdisplay .cart_head{
	height: 34px;
	line-height: 34px;
	border-bottom: 1px solid #dedede;
}

#shoppingcartdisplay .cart_group{
	overflow: hidden;
	width: 260px;
	padding: 0 17px 0 10px;
	background: #fff;
}
#shoppingcartdisplay .ibar_cart_group_title{
	float: left;
	font-size: 14px;
	line-height: 34px;
}

#shoppingcartdisplay .cart_product{
	padding: 15px 0;
	border-bottom: 1px dotted #ddd;
	list-style: none;
	height: 85px;
}

#shoppingcartdisplay .cart_product .detail{
	overflow: hidden;
	line-height: 18px;
	position: relative;
	top: -60px;
	left: 10px;
	display: block;
	margin-left: 100px;
}

#shoppingcartdisplay .cart_product .cart_price{
	color: #ed145b;
	font-weight: 700;
	font-family: Arial,Helvetica;
	position: relative;
	top: -50px;
	left: 110px;
}
#shoppingcartdisplay .ibar{
	display: block;
	height: 90px;
	bottom: auto;
	padding-top: 10px;
	width: 100%;
	background: #fff;
}

#shoppingcartdisplay .ibar .ibar_num{
	margin-left:10px;
	font-size: 12px;
	float: left;
	font-family: Tahoma,Geneva,sans-serif;
	position: relative;
	left: 30px;	
}
#shoppingcartdisplay .ibar .ibar_pri{
	color: #ed145b;
	float: right;
	font-weight: 700;
	font-size: 16px;
	font-family: "Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;
	position: relative;
	right: 30px;
	top: -3px;
}

#shoppingcartdisplay .ibar .ibar_cart_go_btn{
	position:relative;
	top:50px;
	display: block;
	height: 33px;
	line-height: 33px;
	font-size: 19px;
	font-family: SimHei;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: #ed145b;
	width: 80%;
	margin-left: auto;
	cursor: pointer;
	margin-right: auto;
}

